caintegrator-war/resources/gov/nih/nci/caintegrator/external/cabio/gov.nih.nci.cabio.pathways.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://caCORE.caBIO/4.3/gov.nih.nci.cabio.pathways" xmlns:gov.nih.nci.cabio.domain="gme://caCORE.caBIO/4.3/gov.nih.nci.cabio.domain" targetNamespace="gme://caCORE.caBIO/4.3/gov.nih.nci.cabio.pathways" elementFormDefault="qualified">
  <xs:import namespace="gme://caCORE.caBIO/4.3/gov.nih.nci.cabio.domain" schemaLocation="gov.nih.nci.cabio.domain.xsd" />
  <xs:import namespace="gme://caCORE.caBIO/4.3/gov.nih.nci.cabio.domain" schemaLocation="gov.nih.nci.cabio.domain.xsd" />
  <xs:import namespace="gme://caCORE.caBIO/4.3/gov.nih.nci.cabio.domain" schemaLocation="gov.nih.nci.cabio.domain.xsd" />
  <xs:import namespace="gme://caCORE.caBIO/4.3/gov.nih.nci.cabio.domain" schemaLocation="gov.nih.nci.cabio.domain.xsd" />
  <xs:import namespace="gme://caCORE.caBIO/4.3/gov.nih.nci.cabio.domain" schemaLocation="gov.nih.nci.cabio.domain.xsd" />
  <xs:element name="PhysicalEntity" type="PhysicalEntity" />
  <xs:complexType name="PhysicalEntity">
    <xs:sequence>
      <xs:element name="memberCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="FamilyMember" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="entityAccessionCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="EntityAccession" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="physicalParticipantCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PhysicalParticipant" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="entityNameCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="EntityName" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
  </xs:complexType>
  <xs:element name="Condition" type="Condition" />
  <xs:complexType name="Condition">
    <xs:complexContent>
      <xs:extension base="Participant">
        <xs:sequence />
        <xs:attribute name="name" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GeneRegulation" type="GeneRegulation" />
  <xs:complexType name="GeneRegulation">
    <xs:complexContent>
      <xs:extension base="Interaction">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Participant" type="Participant" />
  <xs:complexType name="Participant">
    <xs:sequence>
      <xs:element name="interaction" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Interaction" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
  </xs:complexType>
  <xs:element name="ComplexEntity" type="ComplexEntity" />
  <xs:complexType name="ComplexEntity">
    <xs:complexContent>
      <xs:extension base="PhysicalEntity">
        <xs:sequence>
          <xs:element name="complexComponentCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ComplexComponent" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityName" type="EntityName" />
  <xs:complexType name="EntityName">
    <xs:sequence>
      <xs:element name="physicalEntityCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PhysicalEntity" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:element name="PhysicalParticipant" type="PhysicalParticipant" />
  <xs:complexType name="PhysicalParticipant">
    <xs:complexContent>
      <xs:extension base="Participant">
        <xs:sequence>
          <xs:element name="physicalEntity" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="PhysicalEntity" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="activityState" type="xs:string" />
        <xs:attribute name="location" type="xs:string" />
        <xs:attribute name="postTranslationalMod" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Macroprocess" type="Macroprocess" />
  <xs:complexType name="Macroprocess">
    <xs:complexContent>
      <xs:extension base="Interaction">
        <xs:sequence />
        <xs:attribute name="name" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityAccession" type="EntityAccession" />
  <xs:complexType name="EntityAccession">
    <xs:sequence>
      <xs:element name="physicalEntityCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PhysicalEntity" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="accession" type="xs:string" />
    <xs:attribute name="database" type="xs:string" />
    <xs:attribute name="id" type="xs:long" />
  </xs:complexType>
  <xs:element name="PositiveControl" type="PositiveControl" />
  <xs:complexType name="PositiveControl">
    <xs:complexContent>
      <xs:extension base="PhysicalParticipant">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Interaction" type="Interaction" />
  <xs:complexType name="Interaction">
    <xs:sequence>
      <xs:element name="referenceCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="gov.nih.nci.cabio.domain:Evidence" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="pathwayCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="gov.nih.nci.cabio.domain:Pathway" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="participantCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Participant" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="evidenceCodeCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="gov.nih.nci.cabio.domain:EvidenceCode" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="source" type="xs:string" />
  </xs:complexType>
  <xs:element name="ProteinSubunit" type="ProteinSubunit" />
  <xs:complexType name="ProteinSubunit">
    <xs:complexContent>
      <xs:extension base="ProteinEntity">
        <xs:sequence>
          <xs:element name="whole" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ProteinEntity" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="startPosition" type="xs:long" />
        <xs:attribute name="stopPosition" type="xs:long" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PathwayReference" type="PathwayReference" />
  <xs:complexType name="PathwayReference">
    <xs:complexContent>
      <xs:extension base="Interaction">
        <xs:sequence>
          <xs:element name="pathway" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="gov.nih.nci.cabio.domain:Pathway" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ComplexComponent" type="ComplexComponent" />
  <xs:complexType name="ComplexComponent">
    <xs:complexContent>
      <xs:extension base="PhysicalParticipant">
        <xs:sequence>
          <xs:element name="complex" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ComplexEntity" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RNAEntity" type="RNAEntity" />
  <xs:complexType name="RNAEntity">
    <xs:complexContent>
      <xs:extension base="PhysicalEntity">
        <xs:sequence>
          <xs:element name="nucleicAcidSequenceCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="gov.nih.nci.cabio.domain:NucleicAcidSequence" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Input" type="Input" />
  <xs:complexType name="Input">
    <xs:complexContent>
      <xs:extension base="PhysicalParticipant">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BiochemicalReaction" type="BiochemicalReaction" />
  <xs:complexType name="BiochemicalReaction">
    <xs:complexContent>
      <xs:extension base="Interaction">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SmallMoleculeEntity" type="SmallMoleculeEntity" />
  <xs:complexType name="SmallMoleculeEntity">
    <xs:complexContent>
      <xs:extension base="PhysicalEntity">
        <xs:sequence>
          <xs:element name="agentCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="gov.nih.nci.cabio.domain:Agent" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NegativeControl" type="NegativeControl" />
  <xs:complexType name="NegativeControl">
    <xs:complexContent>
      <xs:extension base="PhysicalParticipant">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProteinEntity" type="ProteinEntity" />
  <xs:complexType name="ProteinEntity">
    <xs:complexContent>
      <xs:extension base="PhysicalEntity">
        <xs:sequence>
          <xs:element name="proteinCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="gov.nih.nci.cabio.domain:Protein" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="subunitCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ProteinSubunit" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FamilyMember" type="FamilyMember" />
  <xs:complexType name="FamilyMember">
    <xs:complexContent>
      <xs:extension base="PhysicalParticipant">
        <xs:sequence>
          <xs:element name="familyCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="PhysicalEntity" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Output" type="Output" />
  <xs:complexType name="Output">
    <xs:complexContent>
      <xs:extension base="PhysicalParticipant">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

