docs/requirements/references/data/vasari/Approved_AIM_v1_rv9_Model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://caCORE.caCORE/3.2/edu.northwestern.radiology.AIM" targetNamespace="gme://caCORE.caCORE/3.2/edu.northwestern.radiology.AIM" elementFormDefault="qualified">
    <xs:simpleType name="AnnotationOfAnnotationIdentifier">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RECIST_Baseline_Sum_of_Longest_Diameter"/>
            <xs:enumeration value="RECIST_Follow-up_Sum_of_Longest_Diameter"/>
            <xs:enumeration value="Interval_Change"/>
            <xs:enumeration value="Summary_Statistic"/>
            <xs:enumeration value="Other"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnnotationCalculationIdentifier">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Absolute_Value"/>
            <xs:enumeration value="Angle"/>
            <xs:enumeration value="Surface_of_Revolution"/>
            <xs:enumeration value="Mean"/>
            <xs:enumeration value="Mode"/>
            <xs:enumeration value="Standard_Deviation"/>
            <xs:enumeration value="Standard_Error"/>
            <xs:enumeration value="Maximum"/>
            <xs:enumeration value="Minimum"/>
            <xs:enumeration value="Center_of_Area"/>
            <xs:enumeration value="2D_Center_of_Mass"/>
            <xs:enumeration value="3D_Center_of_Mass"/>
            <xs:enumeration value="Sum"/>
            <xs:enumeration value="Difference"/>
            <xs:enumeration value="Product"/>
            <xs:enumeration value="Quotient"/>
            <xs:enumeration value="SUV"/>
            <xs:enumeration value="Perfusion"/>
            <xs:enumeration value="Permeability"/>
            <xs:enumeration value="Blood_Volume"/>
            <xs:enumeration value="Percent_Stenosis"/>
            <xs:enumeration value="Length"/>
            <xs:enumeration value="Path_Length"/>
            <xs:enumeration value="Distance"/>
            <xs:enumeration value="Width"/>
            <xs:enumeration value="Depth"/>
            <xs:enumeration value="Diameter"/>
            <xs:enumeration value="Long_Axis"/>
            <xs:enumeration value="Short_Axis"/>
            <xs:enumeration value="Major_Axis"/>
            <xs:enumeration value="Minor_Axis"/>
            <xs:enumeration value="Perpendicular_Axis"/>
            <xs:enumeration value="Radius"/>
            <xs:enumeration value="Perimeter"/>
            <xs:enumeration value="Circumference"/>
            <xs:enumeration value="Diameter_of_Circumscribed_Circle"/>
            <xs:enumeration value="Height"/>
            <xs:enumeration value="Area"/>
            <xs:enumeration value="Area_of_Defined_Region"/>
            <xs:enumeration value="Volume"/>
            <xs:enumeration value="Volume_Estimated_from_Single_2D_Region"/>
            <xs:enumeration value="Volume_Estimated_from_Two_Non-Coplanar_2D_Regions"/>
            <xs:enumeration value="Volume_Estimated_from_Three_or_More_Non-Coplanar_2D_Regions"/>
            <xs:enumeration value="Volume_of_Sphere"/>
            <xs:enumeration value="Volume_of_Ellipsoid"/>
            <xs:enumeration value="Volume_of_Circumscribed_Sphere"/>
            <xs:enumeration value="Volume_of_Bounding_Three_Dimensional_Region"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CalculationResultIdentifier">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Scalar"/>
            <xs:enumeration value="Vector"/>
            <xs:enumeration value="Histogram"/>
            <xs:enumeration value="Matrix"/>
            <xs:enumeration value="Array"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ImageAnnotationIdentifier">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RECIST_Baseline_Target_Lesion"/>
            <xs:enumeration value="RECIST_Baseline_Non-target_Lesion"/>
            <xs:enumeration value="RECIST_Fellow-up_Target_Lesion"/>
            <xs:enumeration value="RECIST_Fellow-up_Non-target_Lesion"/>
            <xs:enumeration value="LIDC_Chest_CT_Nodule"/>
            <xs:enumeration value="Teaching"/>
            <xs:enumeration value="Quality_Control"/>
            <xs:enumeration value="Clinical_Finding"/>
            <xs:enumeration value="Other"/>
            <xs:enumeration value="Brain_Tumor_Baseline_Target_Lesion"/>
            <xs:enumeration value="Brain_Tumor_Baseline_Non-Target_Lesion"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MultiPoint">
        <xs:complexContent>
            <xs:extension base="GeometricShape">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ReferencedCalculation">
        <xs:sequence/>
        <xs:attribute name="id" type="xs:integer" use="required"/>
        <xs:attribute name="referencedCalculationUID" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="SpatialCoordinate" abstract="true">
        <xs:sequence/>
        <xs:attribute name="id" type="xs:integer" use="required"/>
        <xs:attribute name="coordinateIndex" type="xs:integer" use="required"/>
    </xs:complexType>
    <xs:complexType name="ReferencedAnnotation">
        <xs:sequence/>
        <xs:attribute name="id" type="xs:integer" use="required"/>
        <xs:attribute name="referencedAnnotationUID" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="Annotation" abstract="true">
        <xs:sequence>
            <xs:element name="user" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="User" type="User" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="imagingObservationCollection" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ImagingObservation" type="ImagingObservation" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="calculationCollection" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Calculation" type="Calculation" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="equipment" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Equipment" type="Equipment" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="anatomicEntityCollection" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="AnatomicEntity" type="AnatomicEntity" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer" use="required"/>
        <xs:attribute name="aimVersion" type="xs:string" use="required"/>
        <xs:attribute name="comment" type="xs:string" use="optional"/>
        <xs:attribute name="dateTime" type="xs:dateTime" use="required"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="uid" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="Data">
        <xs:sequence>
            <xs:element name="coordinateCollection">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Coordinate" type="Coordinate" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer" use="required"/>
        <xs:attribute name="value" type="xs:double" use="required"/>
    </xs:complexType>
    <xs:complexType name="AnatomicEntity">
        <xs:sequence>
            <xs:element name="relatedAnatomicEntity" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="AnatomicEntity" type="AnatomicEntity" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer" use="required"/>
        <xs:attribute name="codeMeaning" type="xs:string" use="required"/>
        <xs:attribute name="codingSchemeDesignator" type="xs:string" use="required"/>
        <xs:attribute name="codeValue" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="ImageView">
        <xs:sequence>
            <xs:element name="imageViewModifierCollection" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ImageViewModifier" type="ImageViewModifier" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="codeSequence">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="CodeSequence" type="CodeSequence"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer" use="required"/>
    </xs:complexType>
    <xs:complexType name="Coordinate">
        <xs:sequence/>
        <xs:attribute name="id" type="xs:integer" use="required"/>
        <xs:attribute name="dimensionIndex" type="xs:integer" use="required"/>
        <xs:attribute name="position" type="xs:integer" use="required"/>
    </xs:complexType>
    <xs:complexType name="ImageReference" abstract="true">
        <xs:sequence/>
        <xs:attribute name="id" type="xs:integer" use="required"/>
    </xs:complexType>
    <xs:complexType name="CodeSequence">
        <xs:sequence/>
        <xs:attribute name="id" type="xs:integer" use="required"/>
        <xs:attribute name="codeMeaning" type="xs:string" use="required"/>
        <xs:attribute name="codeValue" type="xs:string" use="required"/>
        <xs:attribute name="codingSchemeDesignator" type="xs:string" use="required"/>
        <xs:attribute name="codingSchemeVersion" type="xs:string" use="optional"/>
    </xs:complexType>
    <xs:complexType name="DICOMImageReference">
        <xs:complexContent>
            <xs:extension base="ImageReference">
                <xs:sequence>
                    <xs:element name="study">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Study" type="Study"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="WebImageReference">
        <xs:complexContent>
            <xs:extension base="ImageReference">
                <xs:sequence/>
                <xs:attribute name="uri" type="xs:string" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Dimension">
        <xs:sequence/>
        <xs:attribute name="id" type="xs:integer" use="required"/>
        <xs:attribute name="index" type="xs:integer" use="required"/>
        <xs:attribute name="size" type="xs:integer" use="required"/>
        <xs:attribute name="label" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="Image">
        <xs:sequence>
            <xs:element name="imageView" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ImageView" type="ImageView" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer" use="required"/>
        <xs:attribute name="SOPClassUID" type="xs:string" use="required"/>
        <xs:attribute name="SOPInstanceUID" type="xs:string" use="required"/>
        <xs:attribute name="imageLaterality" type="xs:string" use="optional"/>
        <xs:attribute name="patientOrientationRow" type="xs:string" use="optional"/>
        <xs:attribute name="patientOrientationColumn" type="xs:string" use="optional"/>
        <xs:attribute name="pixelSpacingHorizontal" type="xs:double" use="optional"/>
        <xs:attribute name="pixelSpacingVertical" type="xs:double" use="optional"/>
        <xs:attribute name="acquisitionDatetime" type="xs:dateTime" use="optional"/>
    </xs:complexType>
    <xs:complexType name="ImageViewModifier">
        <xs:sequence>
            <xs:element name="codeSequence">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="CodeSequence" type="CodeSequence"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer" use="required"/>
    </xs:complexType>
    <xs:element name="AnnotationOfAnnotation" type="AnnotationOfAnnotation"/>
    <xs:complexType name="AnnotationOfAnnotation">
        <xs:complexContent>
            <xs:extension base="Annotation">
                <xs:sequence>
                    <xs:element name="referencedAnnotationCollection">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="ReferencedAnnotation" type="ReferencedAnnotation" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="annotationOfAnnotationType" type="AnnotationOfAnnotationIdentifier" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Point">
        <xs:complexContent>
            <xs:extension base="GeometricShape">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ThreeDSpatialCoordinate">
        <xs:complexContent>
            <xs:extension base="SpatialCoordinate">
                <xs:sequence/>
                <xs:attribute name="x" type="xs:double" use="required"/>
                <xs:attribute name="y" type="xs:double" use="required"/>
                <xs:attribute name="z" type="xs:double" use="required"/>
                <xs:attribute name="frameOfReferenceUID" type="xs:string" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TextAnnotation">
        <xs:sequence>
            <xs:element name="multiPoint" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="MultiPoint" type="MultiPoint" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer" use="required"/>
        <xs:attribute name="font" type="xs:string" use="optional"/>
        <xs:attribute name="fontColor" type="xs:string" use="optional"/>
        <xs:attribute name="fontEffect" type="xs:string" use="optional"/>
        <xs:attribute name="fontSize" type="xs:string" use="optional"/>
        <xs:attribute name="fontStyle" type="xs:string" use="optional"/>
        <xs:attribute name="text" type="xs:string" use="required"/>
        <xs:attribute name="textJustify" type="xs:string" use="optional"/>
        <xs:attribute name="fontOpacity" type="xs:string" use="optional"/>
    </xs:complexType>
    <xs:complexType name="GeometricShape" abstract="true">
        <xs:sequence>
            <xs:element name="spatialCoordinateCollection">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="SpatialCoordinate" type="SpatialCoordinate" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer" use="required"/>
        <xs:attribute name="lineColor" type="xs:string" use="optional"/>
        <xs:attribute name="lineOpacity" type="xs:string" use="optional"/>
        <xs:attribute name="lineStyle" type="xs:string" use="optional"/>
        <xs:attribute name="lineThickness" type="xs:string" use="optional"/>
        <xs:attribute name="includeFlag" type="xs:boolean" use="required"/>
        <xs:attribute name="shapeId" type="xs:integer" use="required"/>
    </xs:complexType>
    <xs:complexType name="ProbabilityMap">
        <xs:sequence>
            <xs:element name="imagingObservation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ImagingObservation" type="ImagingObservation"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer" use="required"/>
        <xs:attribute name="instatnceUID" type="xs:string" use="required"/>
        <xs:attribute name="referencedInstanceUID" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="Polyline">
        <xs:complexContent>
            <xs:extension base="GeometricShape">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Calculation">
        <xs:sequence>
            <xs:element name="referencedCalculationCollection" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ReferencedCalculation" type="ReferencedCalculation" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="calculationResultCollection" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="CalculationResult" type="CalculationResult" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer" use="required"/>
        <xs:attribute name="uid" type="xs:string" use="required"/>
        <xs:attribute name="description" type="xs:string" use="required"/>
        <xs:attribute name="mathML" type="xs:string" use="optional"/>
        <xs:attribute name="type" type="AnnotationCalculationIdentifier" use="required"/>
    </xs:complexType>
    <xs:complexType name="ImagingObservation">
        <xs:sequence>
            <xs:element name="imagingObservationCharacteristicCollection" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ImagingObservationCharacteristic" type="ImagingObservationCharacteristic" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="relatedImagingObservation" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ImagingObservation" type="ImagingObservation" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer" use="required"/>
        <xs:attribute name="codeMeaning" type="xs:string" use="required"/>
        <xs:attribute name="codingSchemeDesignator" type="xs:string" use="required"/>
        <xs:attribute name="codeValue" type="xs:string" use="required"/>
        <xs:attribute name="comment" type="xs:string" use="optional"/>
    </xs:complexType>
    <xs:complexType name="User">
        <xs:sequence/>
        <xs:attribute name="id" type="xs:integer" use="required"/>
        <xs:attribute name="authorName" type="xs:string" use="required"/>
        <xs:attribute name="loginName" type="xs:string" use="required"/>
        <xs:attribute name="roleInTrial" type="xs:string" use="optional"/>
        <xs:attribute name="numberWithinRoleOfClinicalTrial" type="xs:integer" use="optional"/>
    </xs:complexType>
    <xs:complexType name="Series">
        <xs:sequence>
            <xs:element name="imageCollection">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Image" type="Image" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer" use="required"/>
        <xs:attribute name="seriesInstanceUID" type="xs:string" use="required"/>
        <xs:attribute name="protocolName" type="xs:string" use="optional"/>
        <xs:attribute name="modality" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="ImagingObservationCharacteristic">
        <xs:sequence>
            <xs:element name="relatedImagingObservationCharacteristic" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ImagingObservationCharacteristic" type="ImagingObservationCharacteristic" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer" use="required"/>
        <xs:attribute name="codeMeaning" type="xs:string" use="required"/>
        <xs:attribute name="codingSchemeDesignator" type="xs:string" use="required"/>
        <xs:attribute name="codeValue" type="xs:string" use="required"/>
        <xs:attribute name="comment" type="xs:string" use="optional"/>
    </xs:complexType>
    <xs:complexType name="Equipment">
        <xs:sequence/>
        <xs:attribute name="id" type="xs:integer" use="required"/>
        <xs:attribute name="manufacturer" type="xs:string" use="required"/>
        <xs:attribute name="manufacturerModelName" type="xs:string" use="optional"/>
        <xs:attribute name="softwareVersions" type="xs:string" use="optional"/>
    </xs:complexType>
    <xs:complexType name="Circle">
        <xs:complexContent>
            <xs:extension base="GeometricShape">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CalculationResult">
        <xs:sequence>
            <xs:element name="dimensionCollection">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Dimension" type="Dimension" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="dataCollection" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Data" type="Data" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer" use="required"/>
        <xs:attribute name="type" type="CalculationResultIdentifier" use="required"/>
        <xs:attribute name="numberOfDimensions" type="xs:integer" use="required"/>
        <xs:attribute name="unitOfMeasure" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="Ellipse">
        <xs:complexContent>
            <xs:extension base="GeometricShape">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Patient">
        <xs:sequence/>
        <xs:attribute name="id" type="xs:integer" use="required"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="patientID" type="xs:string" use="required"/>
        <xs:attribute name="birthDate" type="xs:dateTime" use="optional"/>
        <xs:attribute name="sex" type="xs:string" use="optional"/>
    </xs:complexType>
    <xs:complexType name="Study">
        <xs:sequence>
            <xs:element name="series">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Series" type="Series"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer" use="required"/>
        <xs:attribute name="studyInstanceUID" type="xs:string" use="required"/>
        <xs:attribute name="date" type="xs:dateTime" use="required"/>
    </xs:complexType>
    <xs:element name="ImageAnnotation" type="ImageAnnotation"/>
    <xs:complexType name="ImageAnnotation">
        <xs:complexContent>
            <xs:extension base="Annotation">
                <xs:sequence>
                    <xs:element name="imageReferenceCollection">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="ImageReference" type="ImageReference" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="probabilityMapCollection" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="ProbabilityMap" type="ProbabilityMap" minOccurs="0" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="geometricShapeCollection" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="GeometricShape" type="GeometricShape" minOccurs="0" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="patient" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Patient" type="Patient" minOccurs="0"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="textAnnotationCollection" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="TextAnnotation" type="TextAnnotation" minOccurs="0" maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="imageAnnotationType" type="ImageAnnotationIdentifier" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TwoDSpatialCoordinate">
        <xs:complexContent>
            <xs:extension base="SpatialCoordinate">
                <xs:sequence/>
                <xs:attribute name="imageReferenceUID" type="xs:string" use="required"/>
                <xs:attribute name="referencedFrameNumber" type="xs:integer" use="required"/>
                <xs:attribute name="x" type="xs:double" use="required"/>
                <xs:attribute name="y" type="xs:double" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
