caintegrator-war/resources/gov/nih/nci/caintegrator/external/cadsr/gov.nih.nci.cadsr.umlproject.domain.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://caDSR.caDSR/4.0/gov.nih.nci.cadsr.umlproject.domain" xmlns:gov.nih.nci.cadsr.domain="gme://caDSR.caDSR/4.0/gov.nih.nci.cadsr.domain" targetNamespace="gme://caDSR.caDSR/4.0/gov.nih.nci.cadsr.umlproject.domain" elementFormDefault="qualified">
  <xs:import namespace="gme://caDSR.caDSR/4.0/gov.nih.nci.cadsr.domain" schemaLocation="gov.nih.nci.cadsr.domain.xsd" />
  <xs:element name="UMLAttributeMetadata" type="UMLAttributeMetadata" />
  <xs:complexType name="UMLAttributeMetadata">
    <xs:sequence>
      <xs:element name="UMLClassMetadata" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="UMLClassMetadata" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="attributeTypeMetadata" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="AttributeTypeMetadata" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="project" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Project" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="dataElement" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="gov.nih.nci.cadsr.domain:DataElement" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="semanticMetadataCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="SemanticMetadata" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="description" type="xs:string" />
    <xs:attribute name="fullyQualifiedName" type="xs:string" />
    <xs:attribute name="gmeXMLLocReference" type="xs:string" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="publicID" type="xs:long" />
    <xs:attribute name="version" type="xs:float" />
  </xs:complexType>
  <xs:element name="Project" type="Project" />
  <xs:complexType name="Project">
    <xs:sequence>
      <xs:element name="subProjectCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="SubProject" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UMLPackageMetadataCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="UMLPackageMetadata" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UMLAssociationMetadataCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="UMLAssociationMetadata" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="classificationScheme" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="gov.nih.nci.cadsr.domain:ClassificationScheme" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UMLAttributeMetadataCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="UMLAttributeMetadata" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UMLClassMetadataCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="UMLClassMetadata" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="description" type="xs:string" />
    <xs:attribute name="gmeNamespace" type="xs:string" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="longName" type="xs:string" />
    <xs:attribute name="publicID" type="xs:long" />
    <xs:attribute name="shortName" type="xs:string" />
    <xs:attribute name="version" type="xs:string" />
  </xs:complexType>
  <xs:element name="UMLGeneralizationMetadata" type="UMLGeneralizationMetadata" />
  <xs:complexType name="UMLGeneralizationMetadata">
    <xs:sequence>
      <xs:element name="objectClassRelationship" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="gov.nih.nci.cadsr.domain:ObjectClassRelationship" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UMLClassMetadataCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="UMLClassMetadata" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="superUMLClassMetadata" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="UMLClassMetadata" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="publicID" type="xs:long" />
    <xs:attribute name="version" type="xs:long" />
  </xs:complexType>
  <xs:element name="UMLAssociationMetadata" type="UMLAssociationMetadata" />
  <xs:complexType name="UMLAssociationMetadata">
    <xs:sequence>
      <xs:element name="project" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Project" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UMLClassMetadata" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="UMLClassMetadata" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="targetUMLClassMetadata" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="UMLClassMetadata" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="objectClassRelationship" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="gov.nih.nci.cadsr.domain:ObjectClassRelationship" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="sourceUMLClassMetadata" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="UMLClassMetadata" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="classSchemeClassSchemeItem" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="gov.nih.nci.cadsr.domain:ClassSchemeClassSchemeItem" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="semanticMetadataCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="SemanticMetadata" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="gmeSourceXMLLocReference" type="xs:string" />
    <xs:attribute name="gmeTargetXMLLocReference" type="xs:string" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="isBidirectional" type="xs:boolean" />
    <xs:attribute name="publicID" type="xs:long" />
    <xs:attribute name="sourceHighCardinality" type="xs:integer" />
    <xs:attribute name="sourceLowCardinality" type="xs:integer" />
    <xs:attribute name="sourceRoleName" type="xs:string" />
    <xs:attribute name="targetHighCardinality" type="xs:integer" />
    <xs:attribute name="targetLowCardinality" type="xs:integer" />
    <xs:attribute name="targetRoleName" type="xs:string" />
    <xs:attribute name="version" type="xs:float" />
  </xs:complexType>
  <xs:element name="UMLPackageMetadata" type="UMLPackageMetadata" />
  <xs:complexType name="UMLPackageMetadata">
    <xs:sequence>
      <xs:element name="project" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Project" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="subProject" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="SubProject" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UMLClassMetadataCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="UMLClassMetadata" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="classSchemeClassSchemeItem" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="gov.nih.nci.cadsr.domain:ClassSchemeClassSchemeItem" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="description" type="xs:string" />
    <xs:attribute name="gmeNamespace" type="xs:string" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="packageType" type="xs:string" />
    <xs:attribute name="publicID" type="xs:long" />
    <xs:attribute name="version" type="xs:float" />
  </xs:complexType>
  <xs:element name="UMLClassMetadata" type="UMLClassMetadata" />
  <xs:complexType name="UMLClassMetadata">
    <xs:sequence>
      <xs:element name="UMLAttributeMetadataCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="UMLAttributeMetadata" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="objectClass" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="gov.nih.nci.cadsr.domain:ObjectClass" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="semanticMetadataCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="SemanticMetadata" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UMLAssociationMetadataCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="UMLAssociationMetadata" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="targetAssociationMetadata" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="UMLAssociationMetadata" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UMLGeneralizationMetadata" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="UMLGeneralizationMetadata" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UMLGeneralizationMetadataCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="UMLGeneralizationMetadata" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UMLPackageMetadata" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="UMLPackageMetadata" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="sourceAssociationMetadata" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="UMLAssociationMetadata" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="project" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Project" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="description" type="xs:string" />
    <xs:attribute name="fullyQualifiedName" type="xs:string" />
    <xs:attribute name="gmeNamespace" type="xs:string" />
    <xs:attribute name="gmeXMLElement" type="xs:string" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="publicID" type="xs:long" />
    <xs:attribute name="version" type="xs:float" />
  </xs:complexType>
  <xs:element name="SemanticMetadata" type="SemanticMetadata" />
  <xs:complexType name="SemanticMetadata">
    <xs:sequence>
      <xs:element name="concept" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="gov.nih.nci.cadsr.domain:Concept" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UMLClassMetadata" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="UMLClassMetadata" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UMLAttributeMetadata" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="UMLAttributeMetadata" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="typeEnumerationMetadata" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="TypeEnumerationMetadata" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UMLAssociationMetadata" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="UMLAssociationMetadata" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="attributeTypeMetadata" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="AttributeTypeMetadata" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="conceptCode" type="xs:string" />
    <xs:attribute name="conceptDefinition" type="xs:string" />
    <xs:attribute name="conceptName" type="xs:string" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="isPrimaryConcept" type="xs:boolean" />
    <xs:attribute name="order" type="xs:integer" />
    <xs:attribute name="orderLevel" type="xs:integer" />
    <xs:attribute name="publicID" type="xs:long" />
    <xs:attribute name="version" type="xs:float" />
  </xs:complexType>
  <xs:element name="SubProject" type="SubProject" />
  <xs:complexType name="SubProject">
    <xs:sequence>
      <xs:element name="project" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Project" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UMLPackageMetadataCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="UMLPackageMetadata" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="classSchemeClassSchemeItem" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="gov.nih.nci.cadsr.domain:ClassSchemeClassSchemeItem" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="description" type="xs:string" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="publicID" type="xs:long" />
    <xs:attribute name="version" type="xs:float" />
  </xs:complexType>
  <xs:element name="TypeEnumerationMetadata" type="TypeEnumerationMetadata" />
  <xs:complexType name="TypeEnumerationMetadata">
    <xs:sequence>
      <xs:element name="attributeTypeMetadata" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="AttributeTypeMetadata" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="semanticMetadataCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="SemanticMetadata" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="permissibleValue" type="xs:string" />
    <xs:attribute name="publicID" type="xs:long" />
    <xs:attribute name="valueMeaning" type="xs:string" />
    <xs:attribute name="version" type="xs:float" />
  </xs:complexType>
  <xs:element name="AttributeTypeMetadata" type="AttributeTypeMetadata" />
  <xs:complexType name="AttributeTypeMetadata">
    <xs:sequence>
      <xs:element name="typeEnumerationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="TypeEnumerationMetadata" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="valueDomain" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="gov.nih.nci.cadsr.domain:ValueDomain" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="semanticMetadataCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="SemanticMetadata" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="publicID" type="xs:long" />
    <xs:attribute name="valueDomainDataType" type="xs:string" />
    <xs:attribute name="valueDomainLongName" type="xs:string" />
    <xs:attribute name="version" type="xs:float" />
  </xs:complexType>
</xs:schema>

