caintegrator-war/resources/gov/nih/nci/caintegrator/external/cadsr/gov.nih.nci.cadsr.domain.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://caDSR.caDSR/4.0/gov.nih.nci.cadsr.domain" xmlns:gov.nih.nci.cadsr.umlproject.domain="gme://caDSR.caDSR/4.0/gov.nih.nci.cadsr.umlproject.domain" targetNamespace="gme://caDSR.caDSR/4.0/gov.nih.nci.cadsr.domain" elementFormDefault="qualified">
  <xs:import namespace="gme://caDSR.caDSR/4.0/gov.nih.nci.cadsr.umlproject.domain" schemaLocation="gov.nih.nci.cadsr.umlproject.domain.xsd" />
  <xs:element name="DerivedDataElement" type="DerivedDataElement" />
  <xs:complexType name="DerivedDataElement">
    <xs:sequence>
      <xs:element name="derivationType" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="DerivationType" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="dataElement" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="DataElement" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="dataElementDerivationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="DataElementDerivation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="concatenationCharacter" type="xs:string" />
    <xs:attribute name="createdBy" type="xs:string" />
    <xs:attribute name="dateCreated" type="xs:dateTime" />
    <xs:attribute name="dateModified" type="xs:dateTime" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="methods" type="xs:string" />
    <xs:attribute name="modifiedBy" type="xs:string" />
    <xs:attribute name="rule" type="xs:string" />
  </xs:complexType>
  <xs:element name="ValidValue" type="ValidValue" />
  <xs:complexType name="ValidValue">
    <xs:complexContent>
      <xs:extension base="FormElement">
        <xs:sequence>
          <xs:element name="conditionComponent" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="QuestionConditionComponents" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="valueDomainPermissibleValue" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ValueDomainPermissibleValue" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="question" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Question" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="description" type="xs:string" />
        <xs:attribute name="displayOrder" type="xs:integer" />
        <xs:attribute name="meaningText" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DefinitionClassSchemeItem" type="DefinitionClassSchemeItem" />
  <xs:complexType name="DefinitionClassSchemeItem">
    <xs:sequence>
      <xs:element name="classSchemeClassSchemeItem" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ClassSchemeClassSchemeItem" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="definition" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Definition" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="createdBy" type="xs:string" />
    <xs:attribute name="dateCreated" type="xs:dateTime" />
    <xs:attribute name="dateModified" type="xs:dateTime" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="modifiedBy" type="xs:string" />
  </xs:complexType>
  <xs:element name="ObjectClass" type="ObjectClass" />
  <xs:complexType name="ObjectClass">
    <xs:complexContent>
      <xs:extension base="AdministeredComponent">
        <xs:sequence>
          <xs:element name="dataElementConceptCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="DataElementConcept" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="conceptDerivationRule" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ConceptDerivationRule" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="UMLClassMetadata" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="gov.nih.nci.cadsr.umlproject.domain:UMLClassMetadata" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="targetObjectClassRelationshipCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ObjectClassRelationship" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="sourcObjectClassRelationshipCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ObjectClassRelationship" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="definitionSource" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClassificationScheme" type="ClassificationScheme" />
  <xs:complexType name="ClassificationScheme">
    <xs:complexContent>
      <xs:extension base="AdministeredComponent">
        <xs:sequence>
          <xs:element name="classSchemeClassSchemeItemCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ClassSchemeClassSchemeItem" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="projectCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="gov.nih.nci.cadsr.umlproject.domain:Project" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="parentClassificationSchemeRelationshipCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ClassificationSchemeRelationship" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="conceptDerivationRule" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ConceptDerivationRule" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="childClassificationScheme" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ClassificationScheme" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="parentClassificationScheme" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ClassificationScheme" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="childClassificationSchemeRelationshipCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ClassificationSchemeRelationship" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="labelTypeFlag" type="xs:string" />
        <xs:attribute name="type" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DerivationType" type="DerivationType" />
  <xs:complexType name="DerivationType">
    <xs:sequence>
      <xs:element name="derivedDataElementCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="DerivedDataElement" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="conceptDerivationRuleCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ConceptDerivationRule" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="createdBy" type="xs:string" />
    <xs:attribute name="dateCreated" type="xs:dateTime" />
    <xs:attribute name="dateModified" type="xs:dateTime" />
    <xs:attribute name="description" type="xs:string" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="modifiedBy" type="xs:string" />
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:element name="Module" type="Module" />
  <xs:complexType name="Module">
    <xs:complexContent>
      <xs:extension base="FormElement">
        <xs:sequence>
          <xs:element name="form" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Form" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="questionCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Question" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="displayOrder" type="xs:integer" />
        <xs:attribute name="maximumQuestionRepeat" type="xs:integer" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DesignationClassSchemeItem" type="DesignationClassSchemeItem" />
  <xs:complexType name="DesignationClassSchemeItem">
    <xs:sequence>
      <xs:element name="designation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Designation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="classSchemeClassSchemeItem" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ClassSchemeClassSchemeItem" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="createdBy" type="xs:string" />
    <xs:attribute name="dateCreated" type="xs:dateTime" />
    <xs:attribute name="dateModified" type="xs:dateTime" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="modifiedBy" type="xs:string" />
  </xs:complexType>
  <xs:element name="Registration" type="Registration" />
  <xs:complexType name="Registration">
    <xs:sequence>
      <xs:element name="submitter" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="AdministeredComponentContact" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="referenceDocumentsCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ReferenceDocument" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="administeredComponent" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="AdministeredComponent" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="registrationAuthority" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Organization" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="registrar" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="AdministeredComponentContact" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="beginDate" type="xs:dateTime" />
    <xs:attribute name="createdBy" type="xs:string" />
    <xs:attribute name="dataIdentifier" type="xs:string" />
    <xs:attribute name="dateCreated" type="xs:dateTime" />
    <xs:attribute name="dateModified" type="xs:dateTime" />
    <xs:attribute name="endDate" type="xs:dateTime" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="IRDI" type="xs:string" />
    <xs:attribute name="lastChange" type="xs:string" />
    <xs:attribute name="modifiedBy" type="xs:string" />
    <xs:attribute name="origin" type="xs:string" />
    <xs:attribute name="registrationStatus" type="xs:string" />
    <xs:attribute name="unresolvedIssue" type="xs:string" />
    <xs:attribute name="versionIdentifier" type="xs:string" />
  </xs:complexType>
  <xs:element name="DataElementRelationship" type="DataElementRelationship" />
  <xs:complexType name="DataElementRelationship">
    <xs:sequence>
      <xs:element name="parentDataElement" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="DataElement" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="childDataElement" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="DataElement" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="createdBy" type="xs:string" />
    <xs:attribute name="dateCreated" type="xs:dateTime" />
    <xs:attribute name="dateModified" type="xs:dateTime" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="modifiedBy" type="xs:string" />
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:element name="Form" type="Form" />
  <xs:complexType name="Form">
    <xs:complexContent>
      <xs:extension base="FormElement">
        <xs:sequence>
          <xs:element name="moduleCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Module" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="protocolCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Protocol" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="displayName" type="xs:string" />
        <xs:attribute name="type" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Question" type="Question" />
  <xs:complexType name="Question">
    <xs:complexContent>
      <xs:extension base="FormElement">
        <xs:sequence>
          <xs:element name="questionCondition" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="QuestionCondition" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="questionRepetitionCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="QuestionRepetition" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="module" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Module" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="valueDomain" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ValueDomain" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="questionComponentCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="QuestionConditionComponents" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="dataElement" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="DataElement" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="validValueCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ValidValue" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="defaultValidValueId" type="xs:string" />
        <xs:attribute name="defaultValue" type="xs:string" />
        <xs:attribute name="displayOrder" type="xs:integer" />
        <xs:attribute name="isEditable" type="xs:string" />
        <xs:attribute name="isMandatory" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Designation" type="Designation" />
  <xs:complexType name="Designation">
    <xs:sequence>
      <xs:element name="designationClassSchemeItemCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="DesignationClassSchemeItem" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="context" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Context" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="createdBy" type="xs:string" />
    <xs:attribute name="dateCreated" type="xs:dateTime" />
    <xs:attribute name="dateModified" type="xs:dateTime" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="languageName" type="xs:string" />
    <xs:attribute name="modifiedBy" type="xs:string" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="type" type="xs:string" />
  </xs:complexType>
  <xs:element name="DataElementConcept" type="DataElementConcept" />
  <xs:complexType name="DataElementConcept">
    <xs:complexContent>
      <xs:extension base="AdministeredComponent">
        <xs:sequence>
          <xs:element name="objectClass" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ObjectClass" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="childDataElementConceptRelationshipCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="DataElementConceptRelationship" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="dataElementCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="DataElement" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="conceptualDomain" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ConceptualDomain" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="property" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Property" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="parentDataElementConceptRelationshipCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="DataElementConceptRelationship" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClassificationSchemeRelationship" type="ClassificationSchemeRelationship" />
  <xs:complexType name="ClassificationSchemeRelationship">
    <xs:sequence>
      <xs:element name="parentClassificationScheme" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ClassificationScheme" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="childClassificationScheme" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ClassificationScheme" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="createdBy" type="xs:string" />
    <xs:attribute name="dateCreated" type="xs:dateTime" />
    <xs:attribute name="dateModified" type="xs:dateTime" />
    <xs:attribute name="displayOrder" type="xs:integer" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="modifiedBy" type="xs:string" />
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:element name="NonenumeratedValueDomain" type="NonenumeratedValueDomain" />
  <xs:complexType name="NonenumeratedValueDomain">
    <xs:complexContent>
      <xs:extension base="ValueDomain">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataElement" type="DataElement" />
  <xs:complexType name="DataElement">
    <xs:complexContent>
      <xs:extension base="AdministeredComponent">
        <xs:sequence>
          <xs:element name="dataElementConcept" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="DataElementConcept" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="dataElementDerivationCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="DataElementDerivation" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="parentDataElementRelationshipsCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="DataElementRelationship" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="childDataElementRelationshipsCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="DataElementRelationship" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="valueDomain" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ValueDomain" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="questionCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Question" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="derivedDataElement" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="DerivedDataElement" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="attributeMetadata" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="gov.nih.nci.cadsr.umlproject.domain:UMLAttributeMetadata" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConceptDerivationRule" type="ConceptDerivationRule" />
  <xs:complexType name="ConceptDerivationRule">
    <xs:sequence>
      <xs:element name="valueDomainCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ValueDomain" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="objectClassCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ObjectClass" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="sourceRoleConcept" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ObjectClassRelationship" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="objectClassRelationship" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ObjectClassRelationship" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="conceptualDomainCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ConceptualDomain" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="componentConceptCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ComponentConcept" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="classificationSchemeItemCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ClassificationSchemeItem" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="targetRoleConcept" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ObjectClassRelationship" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="valueMeaningCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ValueMeaning" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="representationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Representation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="classificationSchemeCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ClassificationScheme" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="propertyCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Property" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="derivationType" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="DerivationType" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="createdBy" type="xs:string" />
    <xs:attribute name="dateCreated" type="xs:dateTime" />
    <xs:attribute name="dateModified" type="xs:dateTime" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="modifiedBy" type="xs:string" />
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:element name="QuestionCondition" type="QuestionCondition" />
  <xs:complexType name="QuestionCondition">
    <xs:sequence>
      <xs:element name="conditionComponentCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="QuestionConditionComponents" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="forcedConditionTriggeredActionCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="TriggerAction" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="question" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Question" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="triggeredActionCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="TriggerAction" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="condtionMessage" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ConditionMessage" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="questionCondition" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="QuestionConditionComponents" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" />
  </xs:complexType>
  <xs:element name="ClassificationSchemeItemRelationship" type="ClassificationSchemeItemRelationship" />
  <xs:complexType name="ClassificationSchemeItemRelationship">
    <xs:sequence>
      <xs:element name="childClassificationSchemeItem" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ClassificationSchemeItem" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="parentClassificationSchemeItem" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ClassificationSchemeItem" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="createdBy" type="xs:string" />
    <xs:attribute name="dateCreated" type="xs:dateTime" />
    <xs:attribute name="dateModified" type="xs:dateTime" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="modifiedBy" type="xs:string" />
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:element name="ComponentLevel" type="ComponentLevel" />
  <xs:complexType name="ComponentLevel">
    <xs:sequence />
    <xs:attribute name="concatenationString" type="xs:string" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="level" type="xs:integer" />
  </xs:complexType>
  <xs:element name="FormElement" type="FormElement" />
  <xs:complexType name="FormElement">
    <xs:complexContent>
      <xs:extension base="AdministeredComponent">
        <xs:sequence>
          <xs:element name="triggerActionCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="TriggerAction" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="instruction" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Instruction" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AdministeredComponentClassSchemeItem" type="AdministeredComponentClassSchemeItem" />
  <xs:complexType name="AdministeredComponentClassSchemeItem">
    <xs:sequence>
      <xs:element name="targetObjectClass" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ObjectClassRelationship" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="classSchemeClassSchemeItem" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ClassSchemeClassSchemeItem" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="sourceObjectClass" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ObjectClassRelationship" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="createdBy" type="xs:string" />
    <xs:attribute name="dateCreated" type="xs:dateTime" />
    <xs:attribute name="dateModified" type="xs:dateTime" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="modifiedBy" type="xs:string" />
  </xs:complexType>
  <xs:element name="Organization" type="Organization" />
  <xs:complexType name="Organization">
    <xs:sequence>
      <xs:element name="person" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Person" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="contactCommunication" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ContactCommunication" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addressCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Address" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="administeredComponentContact" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="AdministeredComponentContact" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="registrations" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Registration" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="createdBy" type="xs:string" />
    <xs:attribute name="dateCreated" type="xs:dateTime" />
    <xs:attribute name="dateModified" type="xs:dateTime" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="modifiedBy" type="xs:string" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="rai" type="xs:string" />
  </xs:complexType>
  <xs:element name="Concept" type="Concept" />
  <xs:complexType name="Concept">
    <xs:complexContent>
      <xs:extension base="AdministeredComponent">
        <xs:sequence>
          <xs:element name="semanticMetadata" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="gov.nih.nci.cadsr.umlproject.domain:SemanticMetadata" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="componentConceptCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ComponentConcept" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="valueDomainPermissibleValueCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ValueDomainPermissibleValue" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="definitionSource" type="xs:string" />
        <xs:attribute name="evsSource" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReferenceDocument" type="ReferenceDocument" />
  <xs:complexType name="ReferenceDocument">
    <xs:sequence>
      <xs:element name="registration" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Registration" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="classSchemeClassSchemeItem" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ClassSchemeClassSchemeItem" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="attachments" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ReferenceDocumentAttachment" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="context" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Context" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="createdBy" type="xs:string" />
    <xs:attribute name="dateCreated" type="xs:dateTime" />
    <xs:attribute name="dateModified" type="xs:dateTime" />
    <xs:attribute name="displayOrder" type="xs:long" />
    <xs:attribute name="doctext" type="xs:string" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="languageName" type="xs:string" />
    <xs:attribute name="modifiedBy" type="xs:string" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="organizationId" type="xs:string" />
    <xs:attribute name="rdtlName" type="xs:string" />
    <xs:attribute name="type" type="xs:string" />
    <xs:attribute name="URL" type="xs:string" />
  </xs:complexType>
  <xs:element name="Person" type="Person" />
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element name="administeredComponentContact" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="AdministeredComponentContact" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="contactCommunication" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ContactCommunication" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="organization" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Organization" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addressCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Address" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="createdBy" type="xs:string" />
    <xs:attribute name="dateCreated" type="xs:dateTime" />
    <xs:attribute name="dateModified" type="xs:dateTime" />
    <xs:attribute name="firstName" type="xs:string" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="lastName" type="xs:string" />
    <xs:attribute name="middleInitial" type="xs:string" />
    <xs:attribute name="modifiedBy" type="xs:string" />
    <xs:attribute name="position" type="xs:string" />
    <xs:attribute name="rank" type="xs:integer" />
  </xs:complexType>
  <xs:element name="Instruction" type="Instruction" />
  <xs:complexType name="Instruction">
    <xs:complexContent>
      <xs:extension base="AdministeredComponent">
        <xs:sequence>
          <xs:element name="formElement" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="FormElement" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="type" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataElementDerivation" type="DataElementDerivation" />
  <xs:complexType name="DataElementDerivation">
    <xs:sequence>
      <xs:element name="dataElement" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="DataElement" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="leftOperand" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Function" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="derivedDataElement" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="DerivedDataElement" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="createdBy" type="xs:string" />
    <xs:attribute name="dateCreated" type="xs:dateTime" />
    <xs:attribute name="dateModified" type="xs:dateTime" />
    <xs:attribute name="displayOrder" type="xs:integer" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="leadingCharacters" type="xs:string" />
    <xs:attribute name="modifiedBy" type="xs:string" />
    <xs:attribute name="trailingCharacters" type="xs:string" />
  </xs:complexType>
  <xs:element name="AdministeredComponentContact" type="AdministeredComponentContact" />
  <xs:complexType name="AdministeredComponentContact">
    <xs:sequence>
      <xs:element name="person" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Person" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="submissions" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Registration" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="organization" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Organization" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="registrations" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Registration" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="classSchemeClassSchemeItem" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ClassSchemeClassSchemeItem" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="contactRole" type="xs:string" />
    <xs:attribute name="createdBy" type="xs:string" />
    <xs:attribute name="dateCreated" type="xs:dateTime" />
    <xs:attribute name="dateModified" type="xs:dateTime" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="modifiedBy" type="xs:string" />
    <xs:attribute name="rank" type="xs:integer" />
  </xs:complexType>
  <xs:element name="ValueDomainRelationship" type="ValueDomainRelationship" />
  <xs:complexType name="ValueDomainRelationship">
    <xs:sequence>
      <xs:element name="parentValueDomain" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ValueDomain" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="childValueDomain" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ValueDomain" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="createdBy" type="xs:string" />
    <xs:attribute name="dateCreated" type="xs:dateTime" />
    <xs:attribute name="dateModified" type="xs:dateTime" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="modifiedBy" type="xs:string" />
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:element name="DataElementConceptRelationship" type="DataElementConceptRelationship" />
  <xs:complexType name="DataElementConceptRelationship">
    <xs:sequence>
      <xs:element name="childDataElementConcept" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="DataElementConcept" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="parentDataElementConcept" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="DataElementConcept" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="createdBy" type="xs:string" />
    <xs:attribute name="dateCreated" type="xs:dateTime" />
    <xs:attribute name="dateModified" type="xs:dateTime" />
    <xs:attribute name="description" type="xs:string" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="modifiedBy" type="xs:string" />
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:element name="QuestionRepetition" type="QuestionRepetition" />
  <xs:complexType name="QuestionRepetition">
    <xs:complexContent>
      <xs:extension base="FormElement">
        <xs:sequence>
          <xs:element name="defaultValidValue" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ValidValue" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="defaultValue" type="xs:string" />
        <xs:attribute name="isEditable" type="xs:string" />
        <xs:attribute name="repeatSequenceNumber" type="xs:integer" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AdministeredComponent" type="AdministeredComponent" />
  <xs:complexType name="AdministeredComponent">
    <xs:sequence>
      <xs:element name="context" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Context" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="definitionCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Definition" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="administeredComponentContactCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="AdministeredComponentContact" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="referenceDocumentCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ReferenceDocument" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="administeredComponentClassSchemeItemCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="AdministeredComponentClassSchemeItem" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="designationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Designation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="registrations" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Registration" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="beginDate" type="xs:dateTime" />
    <xs:attribute name="changeNote" type="xs:string" />
    <xs:attribute name="createdBy" type="xs:string" />
    <xs:attribute name="dateCreated" type="xs:dateTime" />
    <xs:attribute name="dateModified" type="xs:dateTime" />
    <xs:attribute name="deletedIndicator" type="xs:string" />
    <xs:attribute name="endDate" type="xs:dateTime" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="latestVersionIndicator" type="xs:string" />
    <xs:attribute name="longName" type="xs:string" />
    <xs:attribute name="modifiedBy" type="xs:string" />
    <xs:attribute name="origin" type="xs:string" />
    <xs:attribute name="preferredDefinition" type="xs:string" />
    <xs:attribute name="preferredName" type="xs:string" />
    <xs:attribute name="publicID" type="xs:long" />
    <xs:attribute name="registrationStatus" type="xs:string" />
    <xs:attribute name="unresolvedIssue" type="xs:string" />
    <xs:attribute name="version" type="xs:float" />
    <xs:attribute name="workflowStatusDescription" type="xs:string" />
    <xs:attribute name="workflowStatusName" type="xs:string" />
  </xs:complexType>
  <xs:element name="ConditionMessage" type="ConditionMessage" />
  <xs:complexType name="ConditionMessage">
    <xs:sequence>
      <xs:element name="questionCondition" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="QuestionCondition" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="message" type="xs:string" />
    <xs:attribute name="messageType" type="xs:string" />
  </xs:complexType>
  <xs:element name="ContactCommunication" type="ContactCommunication" />
  <xs:complexType name="ContactCommunication">
    <xs:sequence>
      <xs:element name="person" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Person" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="organization" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Organization" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="createdBy" type="xs:string" />
    <xs:attribute name="dateCreated" type="xs:dateTime" />
    <xs:attribute name="dateModified" type="xs:dateTime" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="modifiedBy" type="xs:string" />
    <xs:attribute name="rank" type="xs:integer" />
    <xs:attribute name="type" type="xs:string" />
    <xs:attribute name="value" type="xs:string" />
  </xs:complexType>
  <xs:element name="QuestionConditionComponents" type="QuestionConditionComponents" />
  <xs:complexType name="QuestionConditionComponents">
    <xs:sequence>
      <xs:element name="questionCondition" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="QuestionCondition" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="validValue" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ValidValue" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="question" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Question" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="function" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Function" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="parentQuestionCondition" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="QuestionCondition" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="constantValue" type="xs:string" />
    <xs:attribute name="displayOrder" type="xs:integer" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="logicalOperand" type="xs:string" />
    <xs:attribute name="operand" type="xs:string" />
  </xs:complexType>
  <xs:element name="ClassSchemeClassSchemeItem" type="ClassSchemeClassSchemeItem" />
  <xs:complexType name="ClassSchemeClassSchemeItem">
    <xs:sequence>
      <xs:element name="classificationSchemeItem" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ClassificationSchemeItem" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="definitionClassSchemeItemCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="DefinitionClassSchemeItem" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="childClassSchemeClassSchemeItemCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ClassSchemeClassSchemeItem" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="parentClassSchemeClassSchemeItem" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ClassSchemeClassSchemeItem" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="classificationScheme" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ClassificationScheme" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="administeredComponentClassSchemeItemCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="AdministeredComponentClassSchemeItem" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UMLPackageMetadataCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="gov.nih.nci.cadsr.umlproject.domain:UMLPackageMetadata" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="association" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="gov.nih.nci.cadsr.umlproject.domain:UMLAssociationMetadata" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="referenceDocumentCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ReferenceDocument" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="subProjectCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="gov.nih.nci.cadsr.umlproject.domain:SubProject" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AdministeredComponentContact" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="AdministeredComponentContact" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="designationClassSchemeItemCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="DesignationClassSchemeItem" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="createdBy" type="xs:string" />
    <xs:attribute name="dateCreated" type="xs:dateTime" />
    <xs:attribute name="dateModified" type="xs:dateTime" />
    <xs:attribute name="displayOrder" type="xs:integer" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="modifiedBy" type="xs:string" />
  </xs:complexType>
  <xs:element name="Function" type="Function" />
  <xs:complexType name="Function">
    <xs:sequence>
      <xs:element name="conceptDerivationRule" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ConceptDerivationRule" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="conditionComponent" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="QuestionConditionComponents" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="createdBy" type="xs:string" />
    <xs:attribute name="dateCreated" type="xs:dateTime" />
    <xs:attribute name="dateModified" type="xs:dateTime" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="modifiedBy" type="xs:string" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="symbol" type="xs:string" />
  </xs:complexType>
  <xs:element name="ValueDomain" type="ValueDomain" />
  <xs:complexType name="ValueDomain">
    <xs:complexContent>
      <xs:extension base="AdministeredComponent">
        <xs:sequence>
          <xs:element name="conceptDerivationRule" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ConceptDerivationRule" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="parentValueDomainRelationshipCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ValueDomainRelationship" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="childValueDomainRelationshipCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ValueDomainRelationship" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="represention" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Representation" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="questionCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Question" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="dataElementCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="DataElement" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="attributeTypeMetadata" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="gov.nih.nci.cadsr.umlproject.domain:AttributeTypeMetadata" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="conceptualDomain" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ConceptualDomain" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="characterSetName" type="xs:string" />
        <xs:attribute name="datatypeAnnotation" type="xs:string" />
        <xs:attribute name="datatypeDescription" type="xs:string" />
        <xs:attribute name="datatypeIsCodegenCompatible" type="xs:string" />
        <xs:attribute name="datatypeName" type="xs:string" />
        <xs:attribute name="datatypeSchemeReference" type="xs:string" />
        <xs:attribute name="decimalPlace" type="xs:integer" />
        <xs:attribute name="formatName" type="xs:string" />
        <xs:attribute name="highValueNumber" type="xs:string" />
        <xs:attribute name="lowValueNumber" type="xs:string" />
        <xs:attribute name="maximumLengthNumber" type="xs:integer" />
        <xs:attribute name="minimumLengthNumber" type="xs:integer" />
        <xs:attribute name="UOMName" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ComponentConcept" type="ComponentConcept" />
  <xs:complexType name="ComponentConcept">
    <xs:sequence>
      <xs:element name="componentlevel" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ComponentLevel" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="concept" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Concept" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="derivationRule" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ConceptDerivationRule" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="displayOrder" type="xs:integer" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="primaryFlag" type="xs:string" />
    <xs:attribute name="value" type="xs:string" />
  </xs:complexType>
  <xs:element name="ValueMeaning" type="ValueMeaning" />
  <xs:complexType name="ValueMeaning">
    <xs:complexContent>
      <xs:extension base="AdministeredComponent">
        <xs:sequence>
          <xs:element name="conceptDerivationRule" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ConceptDerivationRule" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="conceptualDomainCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ConceptualDomain" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="permissibleValueCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="PermissibleValue" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="comments" type="xs:string" />
        <xs:attribute name="description" type="xs:string" />
        <xs:attribute name="shortMeaning" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PermissibleValue" type="PermissibleValue" />
  <xs:complexType name="PermissibleValue">
    <xs:sequence>
      <xs:element name="valueDomainPermissibleValueCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ValueDomainPermissibleValue" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="valueMeaning" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ValueMeaning" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="createdBy" type="xs:string" />
    <xs:attribute name="dateCreated" type="xs:dateTime" />
    <xs:attribute name="dateModified" type="xs:dateTime" />
    <xs:attribute name="highValueNumber" type="xs:long" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="lowValueNumber" type="xs:long" />
    <xs:attribute name="modifiedBy" type="xs:string" />
    <xs:attribute name="value" type="xs:string" />
  </xs:complexType>
  <xs:element name="TriggerAction" type="TriggerAction" />
  <xs:complexType name="TriggerAction">
    <xs:sequence>
      <xs:element name="questionCondition" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="QuestionCondition" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="sourceFormElement" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="FormElement" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="enforcedCondition" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="QuestionCondition" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="administeredComponentClassSchemeItemCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="AdministeredComponentClassSchemeItem" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="protocolCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Protocol" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="targetFormElement" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="FormElement" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="action" type="xs:string" />
    <xs:attribute name="createdBy" type="xs:string" />
    <xs:attribute name="criterionValue" type="xs:string" />
    <xs:attribute name="dateCreated" type="xs:dateTime" />
    <xs:attribute name="dateModified" type="xs:dateTime" />
    <xs:attribute name="forcedValue" type="xs:string" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="instruction" type="xs:string" />
    <xs:attribute name="modifiedBy" type="xs:string" />
    <xs:attribute name="triggerRelationship" type="xs:string" />
  </xs:complexType>
  <xs:element name="ObjectClassRelationship" type="ObjectClassRelationship" />
  <xs:complexType name="ObjectClassRelationship">
    <xs:complexContent>
      <xs:extension base="AdministeredComponent">
        <xs:sequence>
          <xs:element name="targetObjectClassClassification" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="AdministeredComponentClassSchemeItem" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="targetConceptDerivationRule" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ConceptDerivationRule" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="generalizationMetadata" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="gov.nih.nci.cadsr.umlproject.domain:UMLGeneralizationMetadata" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="sourceConceptDerivationRule" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ConceptDerivationRule" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="conceptDerivationRule" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ConceptDerivationRule" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="sourceObjectClassClassification" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="AdministeredComponentClassSchemeItem" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="associationMetadata" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="gov.nih.nci.cadsr.umlproject.domain:UMLAssociationMetadata" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="targetObjectClass" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ObjectClass" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="sourceObjectClass" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ObjectClass" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="dimensionality" type="xs:integer" />
        <xs:attribute name="direction" type="xs:string" />
        <xs:attribute name="displayOrder" type="xs:integer" />
        <xs:attribute name="isArray" type="xs:string" />
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="sourceHighMultiplicity" type="xs:integer" />
        <xs:attribute name="sourceLowMultiplicity" type="xs:integer" />
        <xs:attribute name="sourceRole" type="xs:string" />
        <xs:attribute name="targetHighMultiplicity" type="xs:integer" />
        <xs:attribute name="targetLowMultiplicity" type="xs:integer" />
        <xs:attribute name="targetRole" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Address" type="Address" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element name="person" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Person" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="organization" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Organization" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="addressLine1" type="xs:string" />
    <xs:attribute name="addressLine2" type="xs:string" />
    <xs:attribute name="city" type="xs:string" />
    <xs:attribute name="country" type="xs:string" />
    <xs:attribute name="createdBy" type="xs:string" />
    <xs:attribute name="dateCreated" type="xs:dateTime" />
    <xs:attribute name="dateModified" type="xs:dateTime" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="modifiedBy" type="xs:string" />
    <xs:attribute name="postalCode" type="xs:string" />
    <xs:attribute name="rank" type="xs:integer" />
    <xs:attribute name="state" type="xs:string" />
    <xs:attribute name="type" type="xs:string" />
  </xs:complexType>
  <xs:element name="Context" type="Context" />
  <xs:complexType name="Context">
    <xs:sequence>
      <xs:element name="administeredComponentCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="AdministeredComponent" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="definitionCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Definition" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="designationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Designation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="referenceDocumentCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ReferenceDocument" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="createdBy" type="xs:string" />
    <xs:attribute name="dateCreated" type="xs:dateTime" />
    <xs:attribute name="dateModified" type="xs:dateTime" />
    <xs:attribute name="description" type="xs:string" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="languageName" type="xs:string" />
    <xs:attribute name="modifiedBy" type="xs:string" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="version" type="xs:float" />
  </xs:complexType>
  <xs:element name="Definition" type="Definition" />
  <xs:complexType name="Definition">
    <xs:sequence>
      <xs:element name="context" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Context" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="definitionClassSchemeItemCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="DefinitionClassSchemeItem" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="createdBy" type="xs:string" />
    <xs:attribute name="dateCreated" type="xs:dateTime" />
    <xs:attribute name="dateModified" type="xs:dateTime" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="languageName" type="xs:string" />
    <xs:attribute name="modifiedBy" type="xs:string" />
    <xs:attribute name="text" type="xs:string" />
    <xs:attribute name="type" type="xs:string" />
  </xs:complexType>
  <xs:element name="ClassificationSchemeItem" type="ClassificationSchemeItem" />
  <xs:complexType name="ClassificationSchemeItem">
    <xs:complexContent>
      <xs:extension base="AdministeredComponent">
        <xs:sequence>
          <xs:element name="classSchemeClassSchemeItemCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ClassSchemeClassSchemeItem" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="conceptDerivationRule" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ConceptDerivationRule" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="childClassificationSchemeItemRelationshipCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ClassificationSchemeItemRelationship" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="parentClassificationSchemeItemRelationshipCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ClassificationSchemeItemRelationship" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="type" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ValueDomainPermissibleValue" type="ValueDomainPermissibleValue" />
  <xs:complexType name="ValueDomainPermissibleValue">
    <xs:sequence>
      <xs:element name="permissibleValue" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PermissibleValue" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="enumeratedValueDomain" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="EnumeratedValueDomain" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="concept" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Concept" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="validValueCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ValidValue" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="beginDate" type="xs:dateTime" />
    <xs:attribute name="createdBy" type="xs:string" />
    <xs:attribute name="dateCreated" type="xs:dateTime" />
    <xs:attribute name="dateModified" type="xs:dateTime" />
    <xs:attribute name="endDate" type="xs:dateTime" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="modifiedBy" type="xs:string" />
    <xs:attribute name="origin" type="xs:string" />
  </xs:complexType>
  <xs:element name="ReferenceDocumentAttachment" type="ReferenceDocumentAttachment" />
  <xs:complexType name="ReferenceDocumentAttachment">
    <xs:sequence>
      <xs:element name="referenceDocument" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ReferenceDocument" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="createdBy" type="xs:string" />
    <xs:attribute name="dateCreated" type="xs:dateTime" />
    <xs:attribute name="dateModified" type="xs:string" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="mimeType" type="xs:string" />
    <xs:attribute name="modifiedBy" type="xs:string" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="size" type="xs:integer" />
  </xs:complexType>
  <xs:element name="EnumeratedValueDomain" type="EnumeratedValueDomain" />
  <xs:complexType name="EnumeratedValueDomain">
    <xs:complexContent>
      <xs:extension base="ValueDomain">
        <xs:sequence>
          <xs:element name="valueDomainPermissibleValueCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ValueDomainPermissibleValue" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Representation" type="Representation" />
  <xs:complexType name="Representation">
    <xs:complexContent>
      <xs:extension base="AdministeredComponent">
        <xs:sequence>
          <xs:element name="valueDomainCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ValueDomain" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="conceptDerivationRule" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ConceptDerivationRule" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="definitionSource" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Property" type="Property" />
  <xs:complexType name="Property">
    <xs:complexContent>
      <xs:extension base="AdministeredComponent">
        <xs:sequence>
          <xs:element name="dataElementConceptCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="DataElementConcept" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="conceptDerivationRule" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ConceptDerivationRule" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="definitionSource" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConceptualDomain" type="ConceptualDomain" />
  <xs:complexType name="ConceptualDomain">
    <xs:complexContent>
      <xs:extension base="AdministeredComponent">
        <xs:sequence>
          <xs:element name="dataElementConceptCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="DataElementConcept" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="valueMeaningCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ValueMeaning" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="valueDomainCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ValueDomain" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="conceptDerivationRule" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ConceptDerivationRule" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="dimensionality" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Protocol" type="Protocol" />
  <xs:complexType name="Protocol">
    <xs:complexContent>
      <xs:extension base="AdministeredComponent">
        <xs:sequence>
          <xs:element name="formCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Form" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="approvedBy" type="xs:string" />
        <xs:attribute name="approvedDate" type="xs:dateTime" />
        <xs:attribute name="changeNumber" type="xs:string" />
        <xs:attribute name="changeType" type="xs:string" />
        <xs:attribute name="leadOrganizationName" type="xs:string" />
        <xs:attribute name="phase" type="xs:string" />
        <xs:attribute name="protocolID" type="xs:string" />
        <xs:attribute name="reviewedBy" type="xs:string" />
        <xs:attribute name="reviewedDate" type="xs:dateTime" />
        <xs:attribute name="type" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

